import(acnr)
importFrom(matrixStats, binMeans)
importFrom(DNAcopy, CNA, smooth.CNA, segment)
## importFrom(CnaStruct, segment, logLik)   ## not exported by CnaStruct :(
importFrom(cghseg, segmeanCO)            ## not exported by cghseg :(
## importFrom(fpop, Fpsn)

export(anotherBkp,
       binMissingValues,
       getCopyNumberDataByResampling,
       PSSeg,
       getTpFp,
       jointSeg,
       estimateSd,
       modelSelection,
       plotSeg,

       doCBS,
       doDynamicProgramming,
       doGFLars,
       doPSCBS,
       doRBS,
       doPSCN,
       pruneByDP,
       segmentByRBS,
       segmentByGFLars,

       randomProfile,
       defaultWeights,
       oneBkp,
       leftMultiplyByInvXAtXA,
       leftMultiplyByXt,
       multiplyXtXBySparse
       )

