import(acnr)
importFrom(matrixStats, binMeans)
export(estimateSd,
       getCopyNumberDataByResampling,
       getTprTnr,
       getTpFp,
       jointSeg,
       modelSelection,
       plotSeg,
       pruneByDP,
       PSSeg,
       randomProfile,
       doCBS,
       doRBS,
       doDynamicProgramming,
       doGFLars,
       doPSCBS,
       doCnaStruct,
       doPelt,
       doPSCN
)

