import(acnr)
importFrom(matrixStats, binMeans)
#importFrom(CnaStruct, segment, logLik)   ## not exported by CnaStruct :(
#importFrom(cghseg, segmeanCO)            ## not exported by cghseg :(
export(anotherBkp,
       binMissingValues,
       getCopyNumberDataByResampling,
       PSSeg,
       getTpFp,
       jointSeg,
       estimateSd,
       modelSelection,
       plotSeg,

       doCBS,
       doDynamicProgramming,
       doGFLars,
       doPSCBS,
	doRBS,		
       doCnaStruct,
       doPelt,
       doPSCN,
       pruneByDP,
       segmentByRBS,
       segmentByGFLars,

       randomProfile,
       defaultWeights,
       oneBkp,
       leftMultiplyByInvXAtXA,
       leftMultiplyByXt,
       multiplyXtXBySparse
)

